{:project         tsp-demo 
 :version         "0.1.0-SNAPSHOT"
 :src-paths       #{"src/html" "src/clj" "src/cljs" "src/js" "src/bootstrap" "resources"}
 :public     			"resources/public"
 :dependencies    [
                  [org.clojure/clojurescript "0.0-1820"]
                  [tailrecursion/boot.core   "1.1.1"]
                  [tailrecursion/boot.task "1.0.0"]
                  [tailrecursion/hoplon "4.0.7"]
                  [markdown-clj              "0.9.38"]
                  [tsp "1.1.3-SNAPSHOT"]
                  [ring-middleware-index-file "1.0.5-SNAPSHOT"]
                  ]
 :src-static  #{"src/static"}
 
 :require-tasks #{[tailrecursion.boot.task :as t]
                  [tailrecursion.hoplon.boot :as h]
                  }
 :tasks {:run {:doc "Start tsp demo server (port 3000)."
               :main [tspdemo.run/run-task]}}

 
 } 
