 html { height: 100% }
 body { height: 100%; padding: 0 }
 #footer {clear: both;}
 #main-container {height: 730px; width: 1255px;border:8px solid; border-radius:25px; padding:15px;background-color:#b0c4de;margin: 0 auto;}
 #list-wrapper {width: 395px; height: 600px;display: inline-block}
 .stops-list {width: 395px; height: 385px;border:3px solid ; border-radius:15px;padding: 6px;}
 .stops-inner {overflow-y: scroll;width: 395px; height: 365px;}
 .depot-list {width: 395px; height: 185px;border:3px solid ; border-radius:15px;padding: 6px}
 .depot-inner {width: 395px; height: 185px;overflow-y: scroll;}
 #map-canvas-wrapper { float: left; margin-right: 25px;}
 #map-canvas {height: 600px; width: 800px; border: 3px solid;}
 #console {width: 800px;border: 3px solid; height: 75px; overflow-y: scroll; background-color: #d3d3d3; margin-top: 5px;}
 .stop {height: 12px; width: 380px; padding: 8px;}
 .stop > input {margin: 30px;}
.hidden {display:none;}
.label {font-weight: bold;}
.address-container {display: inline-block}
.checky {vertical-align: top}
.buttons {margin-top: 10px}
.button {font-size: large;}
.center {margin-right:auto;margin-left: auto; width:80%}
#footer {height: 40px;width: 1255px; border: 0px solid; padding: 8px;margin-left: 30%;vertical-align: center;}
.guide {margin-right: 12px}

.route1 {color: #e02121;}
.route2 {color: #bf21de;}
.route3 {color: #1919cc;}
.route4 {color: #1be0d0;}
.route5 {color: #1bde28;}
.route6 {color: #dec41d;}

#loading {
  display:      none;
  position:     fixed;
  left:         50%;
  margin-left:  -50px;
  width:        100px;
  padding:      10px;
  text-align:   center;
  color:        white;
  background:   orange;
  font-weight:  bold; }